.z {
    position: relative;
  .button {
   
    background: #333333;
    border: 3px solid #333333;
    box-shadow: inset 4px 1px 17px 3px rgba(0, 0, 0, 0.22);
    border-radius: 150px;
    color: white;
    top: 229px;
    left: 30px;
    position: absolute;
    width: 60px;
    height:60px;
    
  }
}
